{{#bs-button buttonType="submit" type="default"  onClick=(action 'test')}}Test{{/bs-button}}

  {{#bs-accordion as |acc|}}
  {{#each bills as |bill|}}
    {{#acc.item title=bill.billerName}}
      {{#if viewable}}
        <p>Bill Date: {{bill.billDate}}</p>
        <p>Bill Amount: {{bill.billAmount}}</p>
        <p>Bill Frequency: {{bill.billFrequency}}</p>
        <p>Withdraw Account: {{bill.withdrawAccount}}</p>
        <button type="button" class="btn btn-primary" onClick={{action "edit"}}>
          Edit
        </button>
      {{else}}
        {{edit-bill bill=bill cancel=(action 'cancel')}}
      {{/if}}
    {{/acc.item}}
  {{/each}}
 {{/bs-accordion}}
 {{!-- save=(action 'save' changeset) --}}
