Bill-Item Template
{{#each bills as |bill|}}
<p>
<p>Biller Name: {{bill.billerName}}</p>
<p>Bill Date: {{bill.billDate}}</p>
<p>Bill Amount: {{bill.billAmount}}</p>
<p>Bill Frequency: {{bill.billFrequency}}</p>
<p>Withdraw Account: {{bill.withdrawAccount}}</p>
</p>
{{/each}}
