  {{#bs-accordion as |acc|}}
  {{#each bills as |bill|}}
    {{#acc.item title=bill.billerName}}
      {{#if viewable}}
        <p>Bill Date: {{bill.billDate}}</p>
        <p>Bill Amount: {{bill.billAmount}}</p>
        <p>Bill Frequency: {{bill.billFrequency}}</p>
        <p>Withdraw Account: {{bill.withdrawAccount}}</p>
        <button type="button" class="btn btn-primary" onClick={{action "edit"}}>
          Edit
        </button>
      {{else}}
        {{#bs-form  model=bill  as |form|}}
          <div class="row">
            <div class="col-md-6">
              {{form.element controlType="text" label="Biller Name" placeholder="Biller Name" property="billerName" }}
              {{form.element controlType="text" label="Bill Date" placeholder="Bill Date" property="billDate" }}
              {{form.element controlType="text" label="Bill Amount" placeholder="Bill Amount" property="billAmount" }}
            </div>
            <div class="col-md-6">
              <label>Bill Frequency</label>
              {{#power-select  selected=selectedFreq searchEnabled=false options=billFreqOptions  onchange=(action "selFreq") as |name|}}
                {{name}}
              {{/power-select}}
              {{form.element controlType="text" label="Withdraw Account" placeholder="Withdraw Account" property="withdrawAccount" }}
              {{#bs-button buttonType="submit" type="default"  onClick=(action 'cancel')}}Cancel{{/bs-button}}
              {{#bs-button buttonType="submit" type="primary"  onClick=(action 'save')}}Save{{/bs-button}}
            </div>
          </div>
        {{/bs-form}}
      {{/if}}
    {{/acc.item}}
  {{/each}}
 {{/bs-accordion}}
