{{#bs-form changeset=(changeset bill) onSubmit=(action 'save' changeset) as |form|}}
  <div class="row">
    <div class="col-md-6">
      {{#bs-button buttonType="submit" type="default"  onClick=(action 'test')}}Test{{/bs-button}}
      {{form.element controlType="text" label="Biller Name" placeholder="Biller Name" value=changeset.billerName onChange=(action (mut changeset.billerName))}}
      {{form.element controlType="text" label="Bill Date" placeholder="Bill Date" value=changeset.billDate onChange=(action (mut changeset.billDate)) }}
      {{form.element controlType="text" label="Bill Amount" placeholder="Bill Amount" value=changeset.billAmount onChange=(action (mut changeset.billAmount)) }}
    </div>
    <div class="col-md-6">
        {{!-- <label>Bill Frequency</label> --}}
      {{!-- {{#power-select  selected=selectedFreq searchEnabled=false options=billFreqOptions  onchange=(action "selFreq") as |name|}}
        {{name}}
      {{/power-select}} --}}
      {{form.element controlType="text" label="Withdraw Account" placeholder="Withdraw Account" value=changeset.withdrawAccount onChange=(action (mut changeset.withdrawAccount))}}
      {{#bs-button buttonType="submit" type="default"  onClick=(action 'cancel')}}Cancel{{/bs-button}}
      {{#bs-button buttonType="submit" type="primary"}}Save{{/bs-button}}
    </div>
  </div>
{{/bs-form}}
